:root {
    --gold-crayola: hsl(38, 61%, 73%);
    --smoky-black-3: hsla(0, 3%, 7%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --section-space: 70px;
    --fontSize-title-2: 2.2rem;
    --fontSize-body-2: 1.6rem;
    --weight-bold: 700;
    --eerie-black-3: hsla(180, 2%, 8%, 1);
    --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%,  transparent 66.66% 75%);
}

body {
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/symphony.png');
    background-size: cover;
}

.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gold-crayola);
    z-index: 10;
    display: grid;
    place-content: center;
    justify-items: center;
    transition: var(--transition-2);
}

.preload > * { transition: var(--transition-1); }

.preload.loaded > * { opacity: 0; }

.preload.loaded {
  transition-delay: 250ms;
  transform: translateY(100%);
}

.circle {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: 3px solid var(--white);
    border-block-start-color: var(--smoky-black-3);
    margin-block-end: 45px;
    animation: rotate360 1s linear infinite;
}

.preload .text {
  background-image: var(--loading-text-gradient);
  background-size: 500%;
  font-size: calc(2rem + 3vw);
  font-weight: var(--weight-bold);
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 16px;
  padding-inline-start: 16px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.5px var(--eerie-black-3);
  animation: loadingText linear 2s infinite;
}

@keyframes rotate360 {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
}

#hero-slider .bg-cover {
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    #hero-slider .bg-cover {
        background-size: contain;
    }
}

section p {
    font-size: 1.9rem; 
    line-height: 1.9rem; 
    color: #e2e8f0;
    text-align: center;
}

@media (min-width: 1024px) {
    section p {
        font-size: 2.5rem; 
        line-height: 2.3rem;
    }
}

@media (min-width: 1280px) {
    section p {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}

h2 {
    font-size: 3rem; 
    text-align: center;
}

@media (min-width: 1024px) {
    h2 {
        font-size: 4.5rem; 
    }
}


footer p {
    font-size: 1.2rem;
    color: #e2e8f0;
    text-align: center;
}

@media (min-width: 1024px) {
    footer p {
        font-size: 1.75rem; 
        line-height: 2.2rem;
    }
}

@media (min-width: 1280px) {
    footer p {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

@media (min-width: 1024px) {
    #our-strength p {
        font-size: 1.75rem; 
        line-height: 2.25rem;
    }
}

@media (min-width: 1280px) {
    #our-strength p {
        font-size: 2rem; 
        line-height: 2.5rem;
    }
}

#sidebar {
    width: 300px;
    background-color: rgba(31, 31, 31, 0.9); 
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    transition: transform 0.3s ease;
    padding-top: 2rem;
}

#sidebar.sidebar-open {
    transform: translateX(0); 
}

#sidebar.sidebar-closed {
    transform: translateX(-100%); 
}

#menu-btn, #close-btn {
    cursor: pointer;
}
